@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}
/* font-family: 'FontAwesome'; */
body { position: relative; font-size: 16px; color: #000; padding: 0; background-color: #f2f2f4; margin: 0; line-height: 22px;  font-family: 'Lato', sans-serif; }


.container {
  padding-right: 0px !important;
  margin: 0 auto;
  width: 1280px;
  background: #444753;
  border-radius: 5px;
}

.people-list {
  width: 260px;
  float: left;
}
.people-list .search {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
      padding: 20px;
    overflow-y: scroll;
    height: 490px;
}
.people-list ul li {
  padding-bottom: 20px;
}
.people-list ul li.active{color: #fff;
    background-color: #000;}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959E;
}

.chat {
  height: 583px;
  width: 1005px;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 20px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 440px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 6px 20px;
  line-height: 26px;
  font-size: 20px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 82%;
  position: relative;
      word-break: break-word;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 3%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 97%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.people-list ul li{list-style: none;}
.chat-history ul li{list-style: none;}



.message-data-name{font-size:16px; font-weight: 600;}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
::-moz-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-moz-scrollbar-thumb {
    background: #FF0000;
}

.name a{color: #fff;}

/*
chat*/
      #nav{list-style:none;margin: 0px;padding: 0px;}
      #nav li {
      float: left;
      margin-right: 20px;
      font-family: Arial;
      font-size: 14px;
      font-weight:bold;
      }
      #nav li a{color:#333333;text-decoration:none}
      #nav li a:hover{color:#006699;text-decoration:none}


      #notification_li
      {
      position:relative
      }
      #notificationContainer 
      {
         background-color: #fff;
    
    /* -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25); */
    /* overflow: visible; */
    /* overflow-y: scroll; */
    /* position: absolute; */
    /* top: 30px; */
    margin-left: -188px;
    width: 250px;
    z-index: 3;
    position: relative;
    margin-bottom: 37px;
    box-shadow: 0 0 40px #ccc;
    border-radius: 5px;
    /* display: none; */
      }
      
      #notificationContainer:before {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      color: transparent;
      border: 10px solid black;
      border-color: transparent transparent white;
      margin-top: -20px;
      margin-left: 188px;
      }
      #notificationTitle
      {
      font-weight: bold;
      padding: 8px;
      font-size: 13px;
      background-color: #ffffff;
      position: fixed;
      z-index: 1000;
      width: 384px;
      border-bottom: 1px solid #dddddd;
      }
      #notificationsBody
      {
      padding: 33px 0px 0px 0px !important;
      min-height:300px;
      }
      #notificationFooter
      {
      background-color: #e9eaed;
      text-align: center;
      font-weight: bold;
      padding: 8px;
      font-size: 12px;
      border-top: 1px solid #dddddd;
      }



#notificationContainer:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
   border-color: rgba(194, 225, 245, 0);
  border-top-color: #fff;
   bottom: -19px;
    right: 63px;

}

#notificationContainer:after {
  border-color: rgba(204,204,204, 0);
  border-top-color: #88b7d5;
  border-width: 30px;
  margin-left: -30px;
}


.message-icon{padding-top: 10px;}
/* notification*/
#notification_li{position:relative}
#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 26px;
    margin-top:32px;
    z-index: 2;
    display: none;
    float:left;
    width: 320px;

}
/*#notificationContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 26px;
    margin-top: 32px;
    float: left;
    / width: 350px; /
*/
#notificationContainer:before {
    content: '';
    display: block;


    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent #e9eaed;
    margin-top: -18px;
    margin-left:18px;
}
#notificationsBody {
    padding: 0px 0px 0px 0px !important;


    overflow-y: scroll;
    height: 350px;

}
#notificationsmsgBody {
    padding: 0px 0px 0px 0px !important;


    overflow-y: scroll;
    height: 350px;

}
#notificationFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    border-top: 1px solid #dddddd;

}
#notificationFooter a { text-decoration: none; color: #000033; padding:3px 21px; }
#notificationFooter a:hover { text-decoration: none; color: #000; }
#notificationFooter a:focus { outline: none; text-decoration: none; width:100%;  }
#notificationTitle {
    z-index: 1000;
    font-weight: bold;
    padding: 8px;
    font-size: 18px;
    background-color: #e9eaed;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}

#notification_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 77px;
    border-radius: 9px;
    position: absolute;
    margin-top: -11px;
    font-size: 11px;
}
.notification-data-inside{margin-left:100px; margin-top:-55px;}
.notification-data-inside h6 {font-size: 15px;}
.notification-database{height:68px; width:295PX;; background-color:#FFFFFF; border-bottom: 1px solid #999999;}
.notification-pic{height:50px; width:50px; border-radius: 50%; margin-left:20px; margin-top:10px;     }
.notification-pic img{    border-radius: 100%;
                          -webkit-border-radius: 100% ; height:50px; width:50px;}
/* inbox*/
#Inbox_li{position:relative}
#inbox {
    z-index: 1000;
    font-weight: bold;
    padding: 8px;
    font-size: 18px;
    background-color: #e9eaed;
    width: 100%;
    border-bottom: 1px solid #dddddd;
}


#InboxContainer {
    background-color: #fff;
    border: 1px solid rgba(100, 100, 100, .4);
    -webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
    overflow: visible;
    position: absolute;
    top: 26px;
    margin-top:32px;

    float:left;
    width: 320px;
    z-index: 2;
    display: none;
}
#InboxContainer:before {
    content: '';
    display: block;


    position: absolute;
    width: 0;
    height: 0;
    color: transparent;
    border: 10px solid black;
    border-color: transparent transparent #e9eaed;
    margin-top: -18px;
    margin-left:18px;
}
#InboxBody {
    padding: 0px 0px 0px 0px !important;
    min-height:300px;
}
#InboxFooter {
    background-color: #e9eaed;
    text-align: center;
    font-weight: bold;
    font-size: 12px;
    width:100%;
    margin-top:-20px;

    border-top: 1px solid #dddddd;
}

#InboxFooter a { text-decoration: none; color: #000033; padding:3px 21px; }
#InboxFooter a:hover { text-decoration: none; color: #000; }
#InboxFooter a:focus { outline: none; text-decoration: none; width:100%;  }
#Inbox_count {
    padding: 3px 7px 3px 7px;
    background: #cc0000;
    color: #ffffff;
    font-weight: bold;
    margin-left: 77px;
    border-radius: 9px;
    position: absolute;
    margin-top: -11px;
    font-size: 11px;
}

.inbox-data-inside{margin-left:100px; margin-top:-50px;}
.inbox-database{height:60px; width:350PX;; background-color:#FFFFFF; border-bottom: 1px solid #999999;}
.inbox-pic{height:50px; width:50px; border-radius: 50%; margin-left:20px; margin-top:10px;     }
.inbox-pic img{    border-radius: 100%;
                   -webkit-border-radius: 100% ; height:50px; width:50px;}
.profile-job-post-location-name form{border: none;}
.job-saved-box .rec-edit-pro {margin-top: -45px;}
.rec-edit-pro ul { font-size: 0; margin: 0; padding: 0; }
.rec-edit-pro ul li { list-style: none; display: inline-block; padding: 0; margin: 0; position: relative; }
.rec-edit-pro ul li a {  color: #fff; padding: 12px 21px 12px;  display: block;  }

.job-saved-box{border: 1px solid #efefef;}

abbr { cursor: help; }
.tooltip { position:absolute; background-color:#000033; color: #ffffff;
           border: 1px solid #aaaaca; font-size: smaller; padding:4px; width: 160px;
           box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);  -moz-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
           -webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);  }


.box-body { min-height:70%; }




.job-saved-box .notification-box ul { font-size: 0; margin: 0; padding: 10px; }
.job-saved-box .notification-box ul li
{ list-style: none; 
  padding: 10px; 
  margin: 10px; 
  position: relative;
  border: 2px solid #bfbfbf; }

.buisness-profile-pic img {height: 150px; width: 30%;}

.buisness-contact-head {    background: #e6e6e6;
                            padding: 2px;
                            padding-left: 10px;
                            margin: -11px -0px 20px;
}
.business_pf_ct_ {background-color: #f8f8f8;}



/*popup form for text*/ 



.header ul { font-size: 0!important;; margin: 0!important;; padding: 0!important; }
.header ul li { list-style: none!important; display: inline-block!important; padding: 0!important; margin: 0!important; position: relative!important; }
.header ul li a { font-size: 14px!important; color: #fff!important; padding: 13px!important; font-weight: 400!important; display: block!important;letter-spacing: 0.5!important; }
/*.header ul li a:hover { background: #fff; color: #000033; }
*/.header ul li a i {padding-left: 10px!important;}
.header ul li a:hover {
background-color: #fff!important;
color: #003!important;
}