/*** new style css  ***/
/*** new style css  ***/
/*
.prev,.next {
    background-color: #000;
}
.prev:hover, .next:hover {
    background-color: rgba
    (0, 0, 0, 0.8);
}
.prev {
    transform: translate(0, -50%);
    cursor: pointer;
    position: absolute;
    top: 200px !important;
    width: auto;
    padding: 16px;
    /* margin-top: -50px; */
 /*   color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}*/
/* .next {
    transform: translate(0, -50%);
    cursor: pointer;
    position: absolute;
    top: 200px !important;
    width: auto;
    padding: 16px;
    /* margin-top: -50px; */
 /*   color: white;
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-top-left-radius: 3px;
    border-bottom-left-radius:3px; 
    user-select: none;
    -webkit-user-select: none;
}*/

/*.modal2 .prev, .next {
	top:300px !important;
}*/

/*.bui_images_view_more {
    right: 21px;
    bottom: 0%;
    color: white;
    position: absolute;*/
     /*left: 14px; */
 /*   width: 334px;
    height: 250px;
    background: rgba(0, 0, 0, 0.5);
    padding: 68px;
}*/

/*.profile-box-job-menu ul li a{margin-right: 25px;}*/

/*.button:hover{background-color: #156f95;}*/
/*.profile-job-post-detail  .post-design-box{border:none;}*/

/*.post-design-commnet-box .editable_text{min-height: 37px !important}*/
/*.notifications li .notification-data-inside div{padding-top: 3px!important  }*/
/*.profile-box-job-menu ul li a{margin-right: 7px !important;}*/

/*.comment-edit-butn button {
    padding: 7.5px 10px 7.5px;
    border-radius: 3px;
    letter-spacing: 0px;
 */   /* margin-left: -11px; 
    position: absolute;
    bottom: 11px;
}*/
/*.pop_content .cnclbtn:hover{background-color: #156f95 !important}
.pop_content .okbtn:hover{background-color: #156f95 !important}
.tabordion section .label-d{padding: 5px 7px !important}
.contact-frnd-post1 label{margin-bottom: 3px}
.tabordion input[name="sections"]:checked + label:after{top:7px;}*/





 
.user-pic:hover a {

    display: block;
    bottom: 0;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
    padding: 4px 3.9px;
    font-size: 12px;
    padding-right: 4.9px;

}

.logo{display: inline-block;}

.select2-container-multi .select2-search-choice-close{top:7px;}

.profile-text-bui-user .profile-boxProfile-name a{padding-left: 0px !important}
.profile-box-job-menu ul li a{margin-right: 15px !important;}
.profile-box-job-menu ul li{padding-left: 13px !important;}
.like_cmmt_space{margin-left: 6px;}