@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background: #fbfbfb;
  font: 14px/20px "Lato", Arial, sans-serif;
  padding: 40px 0;
  color: white;
}

.container {
  padding-right: 0px !important;
  margin: 0 auto;
  width: 1280px;
  background: #444753;
  border-radius: 5px;
}

.people-list {
  width: 260px;
  float: left;
}
.people-list .search {
  padding: 20px;
}
.people-list input {
  border-radius: 3px;
  border: none;
  padding: 14px;
  color: white;
  background: #6A6C75;
  width: 90%;
  font-size: 14px;
}
.people-list .fa-search {
  position: relative;
  left: -25px;
}
.people-list ul {
      padding: 20px;
    overflow-y: scroll;
    height: 490px;
}
.people-list ul li {
  padding-bottom: 20px;
}
.people-list ul li.active{color: #fff;
    background-color: #000;}
.people-list img {
  float: left;
}
.people-list .about {
  float: left;
  margin-top: 8px;
}
.people-list .about {
  padding-left: 8px;
}
.people-list .status {
  color: #92959E;
}

.chat {
  height: 583px;
  width: 1005px;
  float: left;
  background: #F2F5F8;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  color: #434651;
}
.chat .chat-header {
  padding: 20px;
  border-bottom: 2px solid white;
}
.chat .chat-header img {
  float: left;
}
.chat .chat-header .chat-about {
  float: left;
  padding-left: 10px;
  margin-top: 6px;
}
.chat .chat-header .chat-with {
  font-weight: bold;
  font-size: 20px;
}
.chat .chat-header .chat-num-messages {
  color: #92959E;
}
.chat .chat-header .fa-star {
  float: right;
  color: #D8DADF;
  font-size: 20px;
  margin-top: 12px;
}
.chat .chat-history {
  padding: 30px 30px 20px;
  border-bottom: 2px solid white;
  overflow-y: scroll;
  height: 440px;
}
.chat .chat-history .message-data {
  margin-bottom: 15px;
}
.chat .chat-history .message-data-time {
  color: #a8aab1;
  padding-left: 6px;
}
.chat .chat-history .message {
  color: white;
  padding: 18px 20px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 7px;
  margin-bottom: 30px;
  width: 82%;
  position: relative;
      word-break: break-word;
}
.chat .chat-history .message:after {
  bottom: 100%;
  left: 3%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: #86BB71;
  border-width: 10px;
  margin-left: -10px;
}
.chat .chat-history .my-message {
  background: #86BB71;
}
.chat .chat-history .other-message {
  background: #94C2ED;
}
.chat .chat-history .other-message:after {
  border-bottom-color: #94C2ED;
  left: 97%;
}
.chat .chat-message {
  padding: 30px;
}
.chat .chat-message textarea {
  width: 100%;
  border: none;
  padding: 10px 20px;
  font: 14px/22px "Lato", Arial, sans-serif;
  margin-bottom: 10px;
  border-radius: 5px;
  resize: none;
}
.chat .chat-message .fa-file-o, .chat .chat-message .fa-file-image-o {
  font-size: 16px;
  color: gray;
  cursor: pointer;
}
.chat .chat-message button {
  float: right;
  color: #94C2ED;
  font-size: 16px;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
  font-weight: bold;
  background: #F2F5F8;
}
.chat .chat-message button:hover {
  color: #75b1e8;
}

.online, .offline, .me {
  margin-right: 3px;
  font-size: 10px;
}

.online {
  color: #86BB71;
}

.offline {
  color: #E38968;
}

.me {
  color: #94C2ED;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.float-right {
  float: right;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.people-list ul li{list-style: none;}
.chat-history ul li{list-style: none;}



.message-data-name{font-size:16px; font-weight: 600;}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}
::-moz-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-moz-scrollbar-thumb {
    background: #FF0000;
}

.name a{color: #fff;}

/*
chat*/
      #nav{list-style:none;margin: 0px;padding: 0px;}
      #nav li {
      float: left;
      margin-right: 20px;
      font-family: Arial;
      font-size: 14px;
      font-weight:bold;
      }
      #nav li a{color:#333333;text-decoration:none}
      #nav li a:hover{color:#006699;text-decoration:none}


      #notification_li
      {
      position:relative
      }
      #notificationContainer 
      {
      background-color: #fff;
      border: 1px solid rgba(100, 100, 100, .4);
      /*-webkit-box-shadow: 0 3px 8px rgba(0, 0, 0, .25);*/
      overflow: visible;
      overflow-y: scroll;
      /*position: absolute;*/
      /*top: 30px;*/
      margin-left: -170px;
      width: 250px;
      z-index: 3;
      /*display: none; */
      }
      
      #notificationContainer:before {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      color: transparent;
      border: 10px solid black;
      border-color: transparent transparent white;
      margin-top: -20px;
      margin-left: 188px;
      }
      #notificationTitle
      {
      font-weight: bold;
      padding: 8px;
      font-size: 13px;
      background-color: #ffffff;
      position: fixed;
      z-index: 1000;
      width: 384px;
      border-bottom: 1px solid #dddddd;
      }
      #notificationsBody
      {
      padding: 33px 0px 0px 0px !important;
      min-height:300px;
      }
      #notificationFooter
      {
      background-color: #e9eaed;
      text-align: center;
      font-weight: bold;
      padding: 8px;
      font-size: 12px;
      border-top: 1px solid #dddddd;
      }


