/***  css for me  ***/
.common-form .select2-container-multi .select2-choices{width:100%; float:left;}
#msg_block #set_input{margin:0; margin-bottom:-52px;}
#set_input{width:100%;}
.chat_nobcx .panel-footer{padding:0;}
.main_send{right:10px !important;}
div .comment{width:100%; padding-right:150px !important; min-height: 60px;
border: none;
border-top: 1px solid #ddd;}
.people-list ul{overflow:auto;}
#notificationLink1{left:-100px;}
#set_input::-webkit-scrollbar {
    width: 0em;
    height: 0em
}
::-webkit-scrollbar-button {
    background: #ccc
}
::-webkit-scrollbar-track-piece {
    background: #888
}
::-webkit-scrollbar-thumb {
    background: #eee
}​