/* stylesheet for demo and examples */

@import url(http://fonts.googleapis.com/css?family=Lobster+Two:700italic,700);
@import url(http://fonts.googleapis.com/css?family=Oswald:300);

.scrollbar-main{
    overflow: auto;
    position: relative;
    padding: 20px;
    background: #fff;
    margin: 10px;
    width: 740px;
    max-width: 97%;
    height: 400px;
    -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box;
}



@media only screen and (min-width: 1229px){
    .showcase .horizontal-images.scrollbar-main{ width: 1060px; }
}

@media only screen and (min-width: 1629px){
    .showcase .horizontal-images.scrollbar-main{ width: 700px; }
}